@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<i><b><p>We made it very simple and easy to go.</p></b></i>
<p>UCM MarketPlace website will showcase items which students wants to sell and whoever is in need can contact seller and get the item they want to buy.</p>