@model IEnumerable<UCMMarketplace.Models.Itemviewmodel>

@{
    ViewBag.Title = "FilterSortCategory";
}
@Html.Action("Index","Home")
<h3>Happy Shopping</h3>
<div class="container body-content">
    <div class="row">
        @foreach (UCMMarketplace.Models.Itemviewmodel i in @Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a href="@Url.Action("View", "Item", new { id = UrlParameter.Optional })\@i.ItemID" target="_blank">
                    @{
                        //var s = Model.Book.Author_name.ToString();
                        var s = i.ImagePath.ToString();
                        string[] imgpath = s.Split('|');
                        <img src="@Url.Content(imgpath[0])" class="img-thumbnail" />
                    }
                </a>
                <p>
                    @i.Title;
                    @*<button type="button" class="glyphicon">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </button>*@
                </p>
                <p></p>
            </div>
        }
    </div>
</div>


